<h1>Exploratory data analyis</h1>

In [1]:
#import libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 
import seaborn as sns

In [2]:
df=pd.read_csv("project_files/house_listingskenya.csv")

<h2>Basic info</h2>

In [3]:
df.shape

(16117, 17)

In [4]:
df_cat = df.select_dtypes(include = "object")
categorical_features = df.loc[:, ~df.columns.isin(['listdate', 'locality'])].dtypes[df.dtypes == 'object'].index
df_rental=df[df.category == 'For Rent']

In [5]:
df_rental.head(15)

,id,price,price_qualifier,bedrooms,bathrooms,toilets,furnished,serviced,shared,parking,category,type,sub_type,state,locality,sub_locality,listdate
0,1,5000.0,per month,3,0,NaN,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Embakasi,Tassia,2020-07-18 00:00:00
6,7,200000.0,per month,5,5,5.0,0,0,0,0,For Rent,House,Townhouse,Nairobi,Nairobi Central,NaN,2020-07-18 00:00:00
7,8,100000.0,per month,3,3,3.0,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Parklands,NaN,2020-07-18 00:00:00
9,10,120000.0,per month,3,3,3.0,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Lavington,NaN,2020-07-18 00:00:00
10,11,180000.0,per month,2,2,2.0,1,0,0,0,For Rent,Apartment,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00
11,12,210000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,NaN,Nairobi,Muthaiga,Muthaiga North,2020-07-18 00:00:00
12,13,270000.0,NaN,4,4,4.0,0,0,0,0,For Rent,House,Townhouse,Nairobi,Lavington,NaN,2020-07-18 00:00:00
13,14,230000.0,per month,3,3,3.0,1,0,0,0,For Rent,Apartment,NaN,Nairobi,Kileleshwa,NaN,2020-07-18 00:00:00
14,15,180000.0,per month,3,3,3.0,1,0,0,0,For Rent,Apartment,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00
15,16,275000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,Townhouse,Nairobi,Kitisuru,NaN,2020-07-18 00:00:00
16,17,540000.0,per month,6,6,6.0,0,0,0,0,For Rent,House,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00
17,18,380000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,Detached Duplex,Nairobi,Nairobi Central,NaN,2020-07-18 00:00:00
18,19,350000.0,per month,3,3,3.0,1,0,0,0,For Rent,House,NaN,Nairobi,Muthaiga,Old Muthaiga,2020-07-18 00:00:00
19,20,350000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,NaN,Nairobi,Westlands,Runda,2020-07-18 00:00:00
20,21,230000.0,per month,3,3,3.0,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00

In [6]:
df.dtypes

id                   int64
price              float64
price_qualifier     object
bedrooms             int64
bathrooms            int64
toilets            float64
furnished            int64
serviced             int64
shared               int64
parking              int64
category            object
type                object
sub_type            object
state               object
locality            object
sub_locality        object
listdate            object
dtype: object

In [7]:
df.isnull().sum()

id                     0
price                  3
price_qualifier     8870
bedrooms               0
bathrooms              0
toilets            10028
furnished              0
serviced               0
shared                 0
parking                0
category               0
type                   0
sub_type            9817
state                  0
locality               6
sub_locality       15071
listdate               0
dtype: int64

<h4>Here are the most expensive rental properties on the dataset</h4>

In [8]:
df_rental.sort_values(by='price',ascending=False).head(5)

,id,price,price_qualifier,bedrooms,bathrooms,toilets,furnished,serviced,shared,parking,category,type,sub_type,state,locality,sub_locality,listdate
6166,6167,1.500000e+09,per month,0,0,NaN,0,0,0,0,For Rent,Land,NaN,Nairobi,Nairobi Central,NaN,2020-08-19 22:23:04
15525,15533,5.000000e+08,per month,1,1,1.0,0,0,0,1,For Rent,House,NaN,Nakuru,London,NaN,2022-05-18 11:19:03
5298,5299,4.500000e+08,per month,0,0,NaN,0,0,0,0,For Rent,Commercial Property,Office Space,Nairobi,Kahawa West,NaN,2020-08-12 18:19:17
3903,3904,3.200000e+08,per month,0,0,NaN,0,0,0,0,For Rent,Commercial Property,NaN,Nairobi,Parklands,NaN,2020-07-31 01:06:38
3904,3905,3.000000e+08,per month,0,0,NaN,0,0,0,0,For Rent,Commercial Property,NaN,Nairobi,Westlands,NaN,2020-07-31 01:08:20

<h4>Here are the cheapest rental properties</h4>

In [9]:
# df_rental.df[df.category == 'For Rent']
df_rental.loc[(df_rental['price']!=0)].sort_values(by='price',ascending=False).tail()

,id,price,price_qualifier,bedrooms,bathrooms,toilets,furnished,serviced,shared,parking,category,type,sub_type,state,locality,sub_locality,listdate
2624,2625,12.0,per month,0,0,NaN,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Kahawa North,NaN,2020-07-24 16:18:42
659,660,10.0,per square meter / per month,0,0,NaN,0,0,0,0,For Rent,Commercial Property,Warehouse,Nairobi,Embakasi,NaN,2020-07-20 00:00:00
626,627,6.2,per square meter / per week,0,0,NaN,0,0,0,0,For Rent,Commercial Property,Warehouse,Mombasa,Likoni,NaN,2020-07-20 00:00:00
8416,8417,1.0,per month,0,0,NaN,0,0,0,0,For Rent,Land,NaN,Nairobi,Umoja,NaN,2021-04-19 17:02:26
8850,8851,1.0,per month,0,0,2.0,0,0,0,2,For Rent,Commercial Property,Office Space,Nairobi,Kilimani,NaN,2021-06-24 14:26:23