<h1>Exploratory data analyis</h1>

In [1]:
#import libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline 
import seaborn as sns

In [2]:
df=pd.read_csv("project_files/house_listingskenya.csv")

<h2>Basic info</h2>

In [3]:
df.shape

(16117, 17)

In [4]:
df_cat = df.select_dtypes(include = "object")
categorical_features = df.loc[:, ~df.columns.isin(['listdate', 'locality'])].dtypes[df.dtypes == 'object'].index
df_rental=df[df.category == 'For Rent']

In [5]:
df_rental.head(15)

,id,price,price_qualifier,bedrooms,bathrooms,toilets,furnished,serviced,shared,parking,category,type,sub_type,state,locality,sub_locality,listdate
0,1,5000.0,per month,3,0,NaN,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Embakasi,Tassia,2020-07-18 00:00:00
6,7,200000.0,per month,5,5,5.0,0,0,0,0,For Rent,House,Townhouse,Nairobi,Nairobi Central,NaN,2020-07-18 00:00:00
7,8,100000.0,per month,3,3,3.0,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Parklands,NaN,2020-07-18 00:00:00
9,10,120000.0,per month,3,3,3.0,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Lavington,NaN,2020-07-18 00:00:00
10,11,180000.0,per month,2,2,2.0,1,0,0,0,For Rent,Apartment,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00
11,12,210000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,NaN,Nairobi,Muthaiga,Muthaiga North,2020-07-18 00:00:00
12,13,270000.0,NaN,4,4,4.0,0,0,0,0,For Rent,House,Townhouse,Nairobi,Lavington,NaN,2020-07-18 00:00:00
13,14,230000.0,per month,3,3,3.0,1,0,0,0,For Rent,Apartment,NaN,Nairobi,Kileleshwa,NaN,2020-07-18 00:00:00
14,15,180000.0,per month,3,3,3.0,1,0,0,0,For Rent,Apartment,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00
15,16,275000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,Townhouse,Nairobi,Kitisuru,NaN,2020-07-18 00:00:00
16,17,540000.0,per month,6,6,6.0,0,0,0,0,For Rent,House,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00
17,18,380000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,Detached Duplex,Nairobi,Nairobi Central,NaN,2020-07-18 00:00:00
18,19,350000.0,per month,3,3,3.0,1,0,0,0,For Rent,House,NaN,Nairobi,Muthaiga,Old Muthaiga,2020-07-18 00:00:00
19,20,350000.0,per month,4,4,4.0,0,0,0,0,For Rent,House,NaN,Nairobi,Westlands,Runda,2020-07-18 00:00:00
20,21,230000.0,per month,3,3,3.0,0,0,0,0,For Rent,Apartment,NaN,Nairobi,Westlands,NaN,2020-07-18 00:00:00

In [7]:
df.dtypes

id                   int64
price              float64
price_qualifier     object
bedrooms             int64
bathrooms            int64
toilets            float64
furnished            int64
serviced             int64
shared               int64
parking              int64
category            object
type                object
sub_type            object
state               object
locality            object
sub_locality        object
listdate            object
dtype: object

In [8]:
df.isnull().sum()

id                     0
price                  3
price_qualifier     8870
bedrooms               0
bathrooms              0
toilets            10028
furnished              0
serviced               0
shared                 0
parking                0
category               0
type                   0
sub_type            9817
state                  0
locality               6
sub_locality       15071
listdate               0
dtype: int64

In [ ]:
#comment